header {
    width: 100%;
    height: 600px;
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    /* pour le collapse */

    --s: 131px;
    --c1: var(--border-color);
    --c2: var(--button-color);

    --_g: #0000 52%, var(--c1) 54% 57%, #0000 59%;
    background: radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0 calc(var(--s)/2),
        radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s)/2) 0,
        radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
        radial-gradient(farthest-side at 50% -33.33%, var(--_g)),
        var(--c2);
    background-size: calc(var(--s)/4.667) var(--s), var(--s) calc(var(--s)/4.667);

    margin-bottom: 25px;
    border-radius: 1rem;
    margin-top: 20px;

    display: flex;
    gap: 20px;
}

.home_slider_title {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 80px;
    padding: 30px 0;
}

.home_slider_title h3 {
    background-color: var(--background-color);
    padding: 15px 30px;
    display: inline-block;
    border-radius: 54px;
    margin-left: 20px;
}

.grouped_chevron {
    display: inline-block;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.home_container_slider {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;
    overflow-x: scroll;
    margin-top: 12px;
}

.home_search_parent_container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.home_search {
    width: 20%;
    height: 800px;
    background-color: var(--background-color);
    border-radius: 1rem;
    box-shadow: var(--shadow-color);
}

.home_item {
    width: 80%;
    height: 800px;
    background-color: var(--background-color);
    border-radius: 1rem;
    box-shadow: var(--shadow-color);
}