.popo {
    width: 300px;
    height: 300px;
    background-color: var(--color-1);
}

.test {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 60px;
}

.test div {
    background-color: red;
    height: 300px;
}

.test div:nth-child(even) {
    background-color: green;
}

nav {
    width: 100%;
    background-color: salmon;
    padding: 40px;
}

/* .slide_in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transform-origin: bottom;
}

.slide_out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transform-origin: top;
} */