.avatar {
    background-color: var(--highlight-color);
    cursor: pointer;
}

nav {
    width: calc(100% - 40px);
    position: sticky;
    top: 12px;
    left: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-shadow: var(--shadow-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-radius: 54px;
    z-index: 300;
}

.nav_logo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.nav_logo img {
    width: 38px;
}

.nav_right {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
}